.wrapper {
  min-height: 100vh;
  width: 100%;
  background: url('/images/background.png') no-repeat;
  background-size: cover;
  background-position: top;

  .content {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 1120px;

    @media (max-width: 1180px) {
      padding: 2rem;
    }

    @media (max-width: 590px) {
      flex-direction: column;
    }
  }
}

.infoMissionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;

  @media (max-width: 900px) {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2rem;
    color: var(--light-gray);
    margin-bottom: 1.6rem;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    div {
      margin-left: 1.3rem;

      p {
        font-size: 2.5rem;
        color: var(--light-gray);
        line-height: 2.5rem;
      }

      strong {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--blue);
      }
    }
  }

  .important {
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--light-gray);
    margin-bottom: 2rem;
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2.3rem;

    button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      height: 5rem;
      width: 20rem;
      border-radius: 0.5rem;
      cursor: pointer;
      background: var(--gradient-button);
      margin-bottom: 0.8rem;

      &:hover {
        animation: buttonHover 0.3s linear;
        animation-fill-mode: forwards;
      }

      span {
        font-size: 1rem;
        color: var(--light-gray);
        margin-right: 0.5rem;
      }

      p {
        font-size: 1rem;
        font-weight: 700;
        color: var(--light-gray);
        text-align: left;
        margin: 0 auto 0 0.5rem;
      }
    }
  }

  .follow {
    font-size: 1rem;
    color: var(--light-gray);
    line-height: 1.6rem;

    a {
      color: var(--purple);
    }
  }
}

.ticketContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 70%;

  @media (max-width: 590px) {
    position: relative;
    width: 100%;
    padding-bottom: 40rem;
  }

  @media (max-width: 900px) {
    position: relative;
  }
}

// KEYFRAME ANIMATIONS

@keyframes buttonHover {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -3px, 0);
  }
}

@keyframes buttonHoverOut {
  from {
    transform: translate3d(0, -3px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}